<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="/js/menu-icon.js"></script>
    <title>Modificar producto</title>
</head>
<body>
    <%- include('../partials/header') %>
    <h1 class="tituloproducto" >Modificar nuevo producto</h1>
    <form class="listadoregistro" action="/productos/<%=producto.id_producto%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <label class="datos1" for="nombre">Nombre: </label>
        <input class="ingresodato" type="text" id="nombre" name="nombre" value="<%producto.nombre%>" required>
        <br>
        <br>

        <label class="datos1" for="precio">Precio: </label>
        <input class="ingresodato1" type="number" id="precio" name="precio" step="0.01" value="<%producto.precio%>" required>
        <br>
        <br>

        <label class="datos2" for="imagen">Imagen:</label>
        <input class="adjunto" type="file" id="imagen" name="imagen">
        <p class="datos1">Imagen actual: <img src="/images/<%=producto.imagen%>"></p>
        <br>
        <br>

        <label class="datos1" for="id_categoria">Categoría: </label>

        <select class="categ" id="id_categoria" name="id_categoria" required>
            <% categorias.forEach(categoria => { %>
                <option class="categ" value="<%= categoria.id_categoria %>"><%= categoria.nombre %></option>
                <!-- <option value="<%= categoria.id_categoria %>" <%= producto.categoria_id_categoria === categoria.id_categoria ? 'selected' : '' %>><%= categoria.nombre %></option> -->
            <% }) %>
        </select>
        <button type="submit">Actualizar producto</button>


    </form>

    <%- include('../partials/footer') %>
</body>
</html>